@{
    ViewData["Title"] = "Access Denied";
}

<div class="container">
    <header>
        <h1 class="text-danger">Access Denied.</h1>
        <p class="text-danger">You do not have access to this resource.</p>
        <a class="btn btn-default" href="/home">Back</a>
    </header>
</div>
