@{
    ViewData["Title"] = "Locked out";
}

<div class="container">
    <header>
        <h1 class="text-danger">Locked out.</h1>
        <p class="text-danger">This account has been locked out, please try again later.</p>
        <a class="btn btn-default" href="/home">Back</a>
    </header>
</div>
